extends _layout

block body
	.masthead(style="background-image: url(http://cdn.jamlondon.io.s3.amazonaws.com/photos/conference/2017/61.jpg)")
		h1 Sponsor JAM 2018
		.masthead-logo

	//- .navigation
	//- 	.navigation-container
	//- 		.navigation-links
	//- 			a.is-active(href="#intro") About
	//- 			a(href="#team") Team
	//- 			a(href="#2017") Last year
	//- 			a(href="#packages") Sponsorship
	//- 		.navigation-cta
	//- 			a.button.button-primary(href="#next") Get in touch


	.section(id="intro")
		.container
			h2.section-heading.text-center.margin-bottom-5 Our story
			
			.intro-section
				p The idea for JAM originally came to us when we started working together at an early-stage startup a couple of years ago. We were building a complex product, and like many people at the start of their career, we learnt on the job – largely through trial and error. We often asked ourselves how other companies go about designing and building great products. What goes on behind the scenes? How do product managers, designers and engineers make it all happen?
				
				p We realised we really wanted to catch a glimpse of what went on behind the scenes of the companies we looked up to. And we thought other people would want to know too. So we decided to create a community to share these stories – JAM was born.

				p 4 years later, JAM has become the unmissable annual gathering for all the best product people and their team.

	.section.background-white(id="team")
		.container
			.text-center
				h2.section-heading.text-center.margin-bottom-3 Our team
				.margin-bottom-8
					p.section-subheading We're a team of passionate product people who care about helping others on their journey to build something great.
			.columns.display-flex-above-md
				.columns-4.display-flex
					.team-profile.panel
						.team-avatar(style="background-image: url(/public/img/mathilde.jpeg)")
						h3.weight-bold Mathilde Leo
						.label.label-green Organiser
						p Freelance product manager. Previously Product Lead at Founders Factory and Product Manager at Deliveroo.

						.team-profile-social
							a(href="https://twitter.com/Mathilde_Leo" target="_blank")
								+icon({"name": "twitter", "class": ""})
							a(href="https://www.linkedin.com/in/mathildeleo/" target="_blank")
								.position-relative(style="top: -2px; left: 1px")
									+icon({"name": "linkedin", "class": ""})

				.columns-4.display-flex
					.team-profile.panel
						.team-avatar(style="background-image: url(/public/img/seb.jpeg)")
						h3.weight-bold Seb Powell
						.label.label-green Organiser
						p Co-founder & CPO at GetAgent.co.uk. Previously Head of Design at Adbrain.
						.team-profile-social
							a(href="https://twitter.com/sebpowell" target="_blank")
								+icon({"name": "twitter", "class": ""})
							a(href="https://www.linkedin.com/in/sebastienpowell/" target="_blank")
								.position-relative(style="top: -2px; left: 1px")
									+icon({"name": "linkedin", "class": ""})

				.columns-4.display-flex
					.team-profile.panel
						.team-avatar(style="background-image: url(/public/img/sunil.jpeg)")
						h3.weight-bold Sunil Pitwha
						.label.label-green MC
						p Senior UX designer at Aviva and London organiser of Design Jam. BBQ enthusiast.
						.team-profile-social
							a(href="https://twitter.com/SunilUXD" target="_blank")
								+icon({"name": "twitter", "class": ""})
							a(href="https://www.linkedin.com/in/sunilpithwa/" target="_blank")
								.position-relative(style="top: -2px; left: 1px")
									+icon({"name": "linkedin", "class": ""})


	.section(id="2017")
		.container

			h2.section-heading.text-center.margin-bottom-10 Jam 2017 in review

			.sub-section.no-border.no-padding-bottom
				h3.sub-section-heading Who was in the room?
				.columns.display-flex-above-md
					.columns-4.display-flex-above-md
						.panel.text-center.padding-10
							.caption.margin-bottom-2 Attendees
							.stat 605
							
					.columns-4.display-flex-above-md
						.panel.text-center.padding-10
							.caption.margin-bottom-2 Companies
							.stat 202
							
					.columns-4.display-flex-above-md
						.panel.text-center.padding-10
							.caption.margin-bottom-2 NPS
							.stat 8.1

				.divider

				.columns.display-flex-above-md.flex-wrap
					.columns-3.display-flex
						.panel.graph
							.text-center
								.panel-title Type of role

							.margin-bottom-4
								div.text-center.margin-auto(style="height: 150px; width: 150px")
									canvas.display-inline-block(id="type" width="100" height="100")

							ul.legend
								li.legend-1 
									.text Product (40%)
								li.legend-2  
									.text Design (30%)
								li.legend-3  
									.text Founder (15%)
								li.legend-4  
									.text Engineer (10%)
								li.legend-5 
									.text Other (5%)
					
					.columns-3.display-flex
						.panel.graph
							.text-center
								.panel-title Years of experience

							.margin-bottom-4
								div.text-center.margin-auto(style="height: 150px; width: 150px")
									canvas.display-inline-block(id="experience" width="100" height="100")

							ul.legend
								li.legend-1 
									.text 5+ years (60%)
								li.legend-2 
									.text 3 - 5 years (25%)
								li.legend-3 
									.text 0 - 3 years (15%)

					.columns-3.display-flex
						.panel.graph
							.text-center
								.panel-title Type of company

							.margin-bottom-4
								div.text-center.margin-auto(style="height: 150px; width: 150px")
									canvas.display-inline-block(id="company" width="100" height="100")

							ul.legend
								li.legend-1 
									.text Startup (40%)
								li.legend-2 
									.text Agency (30%)
								li.legend-3 
									.text Corporate (20%)
								li.legend-4 
									.text Other (10%)

					.columns-3.display-flex
						.panel.graph
							.text-center
								.panel-title Teams vs Individuals

							.margin-bottom-4
								div.text-center.margin-auto(style="height: 150px; width: 150px")
									canvas.display-inline-block(id="seniority" width="100" height="100")

							ul.legend
								li.legend-1 
									.text Teams (63%)
								li.legend-2 
									.text Individuals (37%)

				.divider

				.attendees.columns
					each attendee, i in attendees
						if i <= 11
							.columns-3.display-flex

								if i == 11
									.attende.width-100.see-more.display-flex.flex-align-center.flex-justify-center.background-greyscale-200.see-more(data-modal="attendees")
										.text-5 + 594 more

								else
									.attendee.panel-basic.width-100
										.company-logo(style="background-image: url(https://logo.clearbit.com/#{attendee.domain}?s=128) !important")
										.attendee-company-title= attendee.title
										.attendee-company-name= attendee.company.toLowerCase()

				.modal-container(id="attendees")
					.modal
						.modal-header
							h2 Jam 2017 attendees
							.modal-close
								+icon({"name": "close"})
						.modal-body
							ul.attendees-list
								each attendee in attendees
									if attendee.company !== "(no value)" && attendee.title !== "(no value)"
										li
											.display-table
												.display-table-cell.vertical-align-middle.padding-right-3
													.company-logo.no-margin
														.logo(style="background-image: url(https://logo.clearbit.com/#{attendee.company.toLowerCase()}.com?s=128)")
														.placeholder
												.display-table-cell.vertical-align-middle
													.attendee-company-title= attendee.title
													.attendee-company-name= attendee.company								


			.sub-section
				h3.sub-section-heading Photos &amp; videos

				a.video.large-video(href="https://www.youtube.com/watch?v=VRpTJXBRiXk" target="_blank")
					.video-thumb(style="background-image: url(https://cdn.jamlondon.io/photos/conference/2017/130.jpg)")
						.video-play
							+icon({"name": "play"})
				
				.columns
					- var photos = [42, 57, 81, 92, 52, 70, 78, 44];

					each i, l in photos
						.columns-3
							if l == 7
								.photo.see-more(style="background-image: url(https://cdn.jamlondon.io/photos/conference/2017/0#{i}.jpg)")
									a.content(href="https://www.dropbox.com/sh/kbmfaxbx9z8gqe3/AADxS_WjbJlgXyo-sa_cLYxha?dl=0" target="_blank")
										| + 235 more
							else
								.photo(style="background-image: url(https://cdn.jamlondon.io/photos/conference/2017/0#{i}.jpg)")

			.sub-section
				h3.sub-section-heading Testimonials

				.columns.display-flex.flex-wrap
					each t, i in testimonials
						.columns-4.display-flex.margin-bottom-4
							.panel-basic.testimonial
								// .tweet-date= t.date
								//- a.tweet-text(href="#{tweet.link}" target="_blank")
								p.testimonial-text= t.text

								.display-table.vertical-align-middle
									.display-table-cell.vertical-align-middle
										.testimonial-avatar.margin-right-3(style="background-image: url(/public/img/testimonials/#{i}.jpg)")
									.display-table-cell.vertical-align-middle
										.testimonial-name= t.name
										.testimonial-position= t.position


				.panel.padding-8.text-center
					.max-width-600.margin-auto
						p.text-7.text-brand 77% of attendees said the conference was 'better' or 'way better' than similar events.
			

	.section(id="packages")
		.container
			h2.section-heading.text-center.margin-bottom-8 Sponsorship opportunities

			.sub-section
				.intro-section.text-center
					p Not just a conference, <a href="https://www.jamlondon.io/conferences/2018" target="_blank">JAM 2018</a> will be a real experience, living up to the reputation we built the past three years. Attendees expect not only to learn, but also meet great people and have fun. We’re looking for great companies to help us craft an exceptional event – one that brings together all the best product teams in Europe for a day of stories, learnings and great conversations. And one where you can shine as a sponsor!
							
			.sub-section
				h3.sub-section-heading Past sponsors
				.columns.display-flex-above-md.flex-wrap
					each sponsor in sponsors
						.columns-3.display-flex-above-md
							.panel.padding-10.text-center.display-flex.flex-align-center.flex-justify-center(style="height: 180px")
								img(src="../public/img/sponsors/#{sponsor.name}.png" width="#{sponsor.width}px")

			.sub-section

				h3.sub-section-heading Why sponsor?

				.columns
					.columns-4
						.panel.padding-8
							h2.weight-bold.text-brand.margin-bottom-2 Grow your team
							p Finding great people is hard. Our community is made up of some of the best designers, engineers and product people in London. Make sure they know you’re hiring!
					.columns-4
						.panel.padding-8
							h2.weight-bold.text-brand.margin-bottom-2 Show off your company
							p Our attendees are always on the hunt for new products and services to help them do things better. Most of the crowd are senior decision-makers so you’ll be in front of the right people.
					.columns-4
						.panel.padding-8
							h2.weight-bold.text-brand.margin-bottom-2 Champion the creation of great products
							p Help passionate creators learn from the best and from each other and contribute to making impactful products happen.

			.sub-section.no-margin-bottom

				h3.sub-section-heading Build your own sponsorship package

				.panel.package-container
					.core-package.clearfix
						.left
							.margin-bottom-3
								h2 By sponsoring JAM, you get:
							.core-price £4000 + VAT

							ul.package-features
								li 
									+icon({"name": "tick"})
									| Logo placement on our website (<a href="https://www.jamlondon.io/conference/2017" target="_blank" data-modal="1">see example</a>)

									.modal-container(id="1")
										.modal
											.modal-header
												h2 Jam 2017 attendees
												.modal-close
													+icon({"name": "close"})
											
											.modal-body.padding-5
												p Not just a logo on some glazed paper, it’s your chance to send attendees the right message: tell them about your team, culture, product, or anything you know will resonate. We’ll help you craft the message and design everything!


								li 
									+icon({"name": "tick"})
									| Logo placement in event introduction deck (<a href="https://www.dropbox.com/s/164b6httyf5h2ns/breakfast.pdf?dl=0" target="_blank">see example</a>)
								li
									+icon({"name": "tick"})
									| Logo placement in all pre-event emails to attendees
								li 
									+icon({"name": "tick"})
									| Minimum 3 social media mentions
								li 
									+icon({"name": "tick"})
									| Dedicated introduction of your company by our MC
								li
									+icon({"name": "tick"})
									| Feature in our attendee booklet - 1 A5 page (<a data-modal="booklet">more info</a>)

									.modal-container(id="booklet")
										.modal
											.modal-header
												h2 Attendee booklet
												.modal-close
													+icon({"name": "close"})
											
											.modal-body.padding-5
												p.margin-bottom-4 Not just a logo on some glazed paper, it’s your chance to send attendees the right message: tell them about your team, culture, product, or anything you know will resonate. We’ll help you craft the message and design everything!

												a.button.button-primary(href="https://www.dropbox.com/s/wrqfxlmdt4x2ldh/attendee-booklet-2017-final.pdf?dl=0" target="_blank") See example
								li
									+icon({"name": "tick"})
									| 1 ticket (worth £350)

								li
									+icon({"name": "tick"})
									| 30% discount on all additional tickets
								li
									+icon({"name": "tick"})
									| Access to attendees list before the event 
									span.tooltip(data-modal="data") (more info)


									.modal-container(id="data")
										.modal
											.modal-header
												h2 Access to attendees list before the event 
												.modal-close
													+icon({"name": "close"})
											
											.modal-body.padding-5
												p Due to GDPR restrictions, this list will not include email addresses or phone numbers. 
											
						.right
							h2.margin-bottom-5 And you can also choose from...
							.extras-list
							
								each package, i in extras
									.package
										.display-table.width-100
											.display-table-cell.vertical-align-top
												.package-title= package.name
													//- .package-description= package.description
												//- .package-link See example


											if package.stock == 0
												.display-table-cell.vertical-align-top.text-right
													.package-sold-out Sold out

										if package.stock !== 0
											ul.package-details
												li= "£"+ package.price + " + VAT"
												li
													| #{package.stock} of #{package.qty} left

												if package.desc
													li
														a(data-modal="package-#{i}") More info
									
									.modal-container(id="package-#{i}")
										.modal
											.modal-header
												h2= package.name
												.modal-close
													+icon({"name": "close"})
											
											.modal-body.padding-5
												if package.image 
													img.margin-bottom-3(src="#{package.image}")
												p= package.desc
	.section.background-white(id="next")
		.container
			.text-center
				h2.section-heading.text-center.margin-bottom-3 Let's talk!

				.margin-bottom-5
					p.section-subheading Sponsorship slots are limited and available on a first-come, first-served basis. Schedule a call to discuss your goals with Mathilde.

				a.button.button-large.button-primary.margin-bottom-3(href="http://calendly.com/mathilde-jam/sponsorship" target="_blank") Schedule a chat


	footer.footer
		.footer-powered-by Powered by
		
		a.footer-logo(href="https://airfinity.com")
			+icon({"name": "airfinity-full"})
		
		.label beta

		.footer-copyright © Airfinity Ltd. 2018





