extends _layout

block body
	.masthead(style="background-image: url(http://cdn.jamlondon.io.s3.amazonaws.com/photos/conference/2017/070.jpg)")
		h1 Jam 2018 Sponsorship Pack
		.masthead-logo

	.navigation
		.navigation-container
			.navigation-links
				a.is-active(href="#intro") Intro
				a(href="#about") About
				a(href="#2017") JAM 2017 Review
				a(href="#packages") Jam 2018

			.navigation-cta
				a.button.button-primary(href="#next") Get in touch

	.container
		.section(id="intro")
			.intro-section
				p Going on its 4th year, JAM provides a fantastic opportunity to expose your brand to a talented audience of some of London’s leading product managers, designers and founders / leading product teams 

				p We are looking for great companies that want to help us run an exceptional event – one that inspires, energises and educates/elevates/cultivates the best product teams in town. 

				p And we want you in the spotlight – this is why we’ve designed an open sponsorship menu, leaving it to you to decide what suits you best / how you’d like to get involved.

				p If you wish to stand out from the crowd with a bespoke experience, of if you have an idea or concept you wish to discuss, just get in touch. We’ll work together to bring you the best results!

		
		.section.team-section(id="team")
			h2.section-heading.text-center About

			.sub-section
				.columns.display-flex-above-md
					.columns-4.display-flex-above-md
						.panel.padding-6.text-center
							.margin-bottom-3
								.stat-icon
									+icon({"name": "people"})
							.caption.margin-bottom-2 Members
							.text-5.margin-bottom-2 1,231 people
					
					.columns-4.display-flex-above-md
						.panel.padding-6.text-center
							.margin-bottom-3
								.stat-icon
									img(src="../public/img/mailchimp.png" width="30")
							.caption.margin-bottom-2 Mailing list
							.text-5.margin-bottom-2 1,835 subscribers
							+verified()
					
					.columns-4.display-flex-above-md
						.panel.padding-6.text-center
							.margin-bottom-3
								.stat-icon
									+icon({"name": "twitter", "size": 25, "class": "fill-twitter"})
							.caption.margin-bottom-2 Twitter
							.text-5.margin-bottom-2 1,111 followers
							+verified()


			.sub-section.no-margin-bottom
				h3.sub-section-heading Team
				.columns.display-flex-above-md
					.columns-4.display-flex
						.team-profile.panel
							.team-avatar(style="background-image: url(/public/img/mathilde.jpeg)")
							h3 Mathilde Leo
							.label.label-green Organiser
							p Freelance product manager. Previously Product Lead at Founders Factory and Product Manager at Deliveroo.

							.team-profile-social
								a(href="https://twitter.com/Mathilde_Leo" target="_blank")
									+icon({"name": "twitter", "class": ""})
								a(href="https://www.linkedin.com/in/mathildeleo/" target="_blank")
									.position-relative(style="top: -2px; left: 1px")
										+icon({"name": "linkedin", "class": ""})

					.columns-4.display-flex
						.team-profile.panel
							.team-avatar(style="background-image: url(/public/img/seb.jpeg)")
							h3 Seb Powell
							.label.label-green Organiser
							p Co-founder & CPO at GetAgent.co.uk. Previously Head of Design at Adbrain.
							.team-profile-social
								a(href="https://twitter.com/sebpowell" target="_blank")
									+icon({"name": "twitter", "class": ""})
								a(href="https://www.linkedin.com/in/sebastienpowell/" target="_blank")
									.position-relative(style="top: -2px; left: 1px")
										+icon({"name": "linkedin", "class": ""})

					.columns-4.display-flex
						.team-profile.panel
							.team-avatar(style="background-image: url(/public/img/sunil.jpeg)")
							h3 Sunil Pitwha
							.label.label-green MC
							p Freelance product manager. Previously Product Lead at Founders Factory and Product Manager at Deliveroo
							.team-profile-social
								a(href="https://twitter.com/SunilUXD" target="_blank")
									+icon({"name": "twitter", "class": ""})
								a(href="https://www.linkedin.com/in/sunilpithwa/" target="_blank")
									.position-relative(style="top: -2px; left: 1px")
										+icon({"name": "linkedin", "class": ""})


		.section(id="2017")
		
			h2.section-heading.text-center.margin-bottom-10 Jam 2017 Review

			.sub-section.no-border.no-padding-bottom
				h3.sub-section-heading Stats
				.columns.display-flex-above-md
					.columns-4.display-flex-above-md
						.panel.text-center.padding-6
							.caption.margin-bottom-2 Attendees
							.stat= attendees.length
							
					.columns-4.display-flex-above-md
						.panel.text-center.padding-6
							.caption.margin-bottom-2 Companies
							.stat= companies.length
							+verified()
							
					.columns-4.display-flex-above-md
						.panel.text-center.padding-6
							.caption.margin-bottom-2 NPS
							.stat 8.1
							+verified()



			.sub-section
				h3.sub-section-heading Companies who attended
			
				.attendees.columns
					each attendee, i in attendees
						if i <= 7
							.columns-3.display-flex

								if i == 7
									.attende.width-100.see-more.display-flex.flex-align-center.flex-justify-center
										.text-5 + 145 more

								else
									.attendee.panel-basic.width-100
										.company-logo(style="background-image: url(https://logo.clearbit.com/#{attendee.domain}?s=128)")
										.attendee-company-title= attendee.title
										.attendee-company-name= attendee.company.toLowerCase()

			.sub-section
				h3.sub-section-heading Audience
			
				.columns.display-flex-above-md.flex-wrap
					.columns-4.display-flex
						.panel.graph
							.text-center
								.panel-title Type of role
								.margin-bottom-5
									+verified()

							div.text-center.margin-auto(style="height: 150px; width: 150px")
								canvas.display-inline-block(id="type" width="100" height="100")

							ul.legend
								li.legend-1 
									.text Product (40%)
								li.legend-2  
									.text Design (30%)
								li.legend-3  
									.text Founder (15%)
								li.legend-4  
									.text Engineer (10%)
								li.legend-5 
									.text Other (5%)
					
					.columns-4.display-flex
						.panel.graph
							.text-center
								.panel-title Years of experience
								.margin-bottom-5
									+verified()

							div.text-center.margin-auto(style="height: 150px; width: 150px")
								canvas.display-inline-block(id="experience" width="100" height="100")

							ul.legend
								li.legend-1 
									.text 5+ years (60%)
								li.legend-2 
									.text 3 - 5 years (25%)
								li.legend-3 
									.text 0 - 3 years (15%)

					.columns-4.display-flex
						.panel.graph
							.text-center
								.panel-title Type of company
								.margin-bottom-5
									+verified()
							div.text-center.margin-auto(style="height: 150px; width: 150px")
								canvas.display-inline-block(id="company" width="100" height="100")

							ul.legend
								li.legend-1 
									.text Startup (40%)
								li.legend-2 
									.text Agency (30%)
								li.legend-3 
									.text Corporate (20%)
								li.legend-4 
									.text Other (10%)


					.columns-4.display-flex
						.panel.graph
							.text-center
								.panel-title Industry
								.margin-bottom-5
									+verified()
							div.text-center.margin-auto(style="height: 150px; width: 150px")
								canvas.display-inline-block(id="industry" width="100" height="100")

							ul.legend
								li.legend-1 
									.text Internet Software &amp; Services (75%)
								li.legend-2 
									.text Professional Services (10%)
								li.legend-3 
									.text Diversified Financial Services (6%)
								li.legend-4 
									.text Media (10%)
								li.legend-4 
									.text Consumer Staples (10%)	

					.columns-4.display-flex
						.panel.graph
							.text-center
								.panel-title Seniority
								.margin-bottom-5
									+verified()
							div.text-center.margin-auto(style="height: 150px; width: 150px")
								canvas.display-inline-block(id="seniority" width="100" height="100")

							ul.legend
								li.legend-1 
									.text Manager (69%)
								li.legend-2 
									.text Director (19%)
								li.legend-3 
									.text Executive (11%)									


				//- .modal-container(id="attendees")
				//- 	.modal
				//- 		.modal-close
				//- 			+icon({"name": "close"})
				//- 		.tabs
				//- 			.tabs-navigation
				//- 				a.is-active(href="1") People
				//- 				a(href="1") Companies
							
				//- 			.tabs-content.is-open
				//- 				ul.attendees-list
				//- 					each attendee in attendees
				//- 						li
				//- 							.display-table
				//- 								.display-table-cell.vertical-align-middle.padding-right-3
				//- 									.company-logo(style="background-image: url(https://logo.clearbit.com/#{attendee.company.toLowerCase()}.com?s=128)")
				//- 								.display-table-cell.vertical-align-middle
				//- 									.attendee-company-name= attendee.company
				//- 									.attendee-company-title.no-margin= attendee.title

				//- 			.tabs-content
				//- 				.modal-body
				//- 					.columns
				//- 						each company in companies
				//- 							.columns-4
				//- 								.company-logo(style="background-image: url(https://logo.clearbit.com/#{company.toLowerCase()}.com?s=128)")
				//- 								.attendee-company-name= company

			.sub-section
				h3.sub-section-heading Photos &amp; Videos

				.video.large-video.margin-bottom-6(data-modal="video-1")
					.video-thumb(style="background-image: url(https://cdn.jamlondon.io/photos/conference/2017/190.jpg)")
						.video-play
							+icon({"name": "play"})

					.video-title JAM 2017 After-movie

					.modal-container(id="video-1")
						.modal
							//- iframe(src="https://youtu.be/N_Hefna0Qqk")

				//- .columns
				//- 	each video, i in videos
				//- 		if i <= 2
				//- 			.columns-4
				//- 				.video(data-modal="video-#{i}")
				//- 					.video-thumb(style="background-image: url(https://cdn.jamlondon.io/photos/conference/2017/#{video.background}.jpg)")
				//- 						.video-play
				//- 							+icon({"name": "play"})
				//- 					.video-title= video.title 
				//- 					.video-speaker= video.name + "– " + video.position + ", " + video.company

				//- 		.modal-container(id="video-#{i}")
				//- 			.modal
				//- 				//- iframe(style="width: 100%" src="https://www.youtube.com/embed/#{video.video}" height="400" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen)
									
	
				//- .text-center
				//- 	a.link(href="https://www.youtube.com/channel/UC6IZvZHymtDYaucmkU0pEog" target="_blank") See more videos

				
				.columns
					- for (var i = 1; i < 5; i++)
						.columns-3
							if i == 4
								.photo.see-more(style="background-image: url(https://cdn.jamlondon.io/photos/conference/2017/#{i}.jpg)")
									a.content(href="https://www.facebook.com/pg/makingjam/photos/?tab=album&album_id=2209087595784228" target="_blank")
										| + 245 more
							else
								.photo(style="background-image: url(https://cdn.jamlondon.io/photos/conference/2017/#{i}.jpg)")

			.sub-section
				h3.sub-section-heading Tweets

				.columns.display-flex.flex-wrap
					each tweet, i in tweets
						if i <= 2
							.columns-4.display-flex.margin-bottom-4
								.panel-basic.tweet

									+icon({"name": "twitter", "class": "tweet-icon"})
									.tweet-date= tweet.date
									a.tweet-text(href="#{tweet.link}" target="_blank")
										p= tweet.text
									.tweet-handle= tweet.handle
				
			.sub-section.no-margin
				h3.sub-section-heading Sponsors
				.columns.display-flex-above-md.flex-wrap
					each sponsor in sponsors
						.columns-3.display-flex-above-md
							.panel.padding-10.text-center.display-flex.flex-align-center.flex-justify-center
								img(src="../public/img/sponsors/#{sponsor.name}.png" width="150")


		.section(id="packages")

			h2.section-heading.text-center.margin-bottom-8 Jam 2018

			.sub-section
				h3.sub-section-heading Details

				//- .columns
				//- 	.columns-3
				//- 		.panel.padding-6.text-center
				//- 			.title
				//- 			.stat 600

			.sub-section

				h3.sub-section-heading Speakers

			.sub-section

				h3.sub-section-heading Packages

				.panel.package-container
					.core-package
						h2 Core package
						.core-price £5000 + VAT
						
						ul.package-features
							li 
								+icon({"name": "tick"})
								| Logo placement on our website
							li 
								+icon({"name": "tick"})
								| Logo placement in event introduction deck
							li
								+icon({"name": "tick"})
								| Logo placement in all pre-event emails to attendees
							li 
								+icon({"name": "tick"})
								| Minimum 3 social media mentions
							li 
								+icon({"name": "tick"})
								| Dedicated introduction of your company by our MC
							li
								+icon({"name": "tick"})
								| Feature in our attendee booklet - 1 A5 page (include example)
							li
								+icon({"name": "tick"})
								| 1 ticket (worth £350 each)

							li
								+icon({"name": "tick"})
								| 30% discount on all additional tickets
							li
								+icon({"name": "tick"})
								| Access to attendee list before the event

			
			.sub-section.no-margin-bottom
				.extras.no-padding
					
					h3.sub-section-heading Extras
					
					.extras-list.display-flex.columns.no-padding
						each package in extras
							.columns-4.display-flex
								.panel.padding-5
									if package.status === 0
										//- .package-sold-out Sold out

									.display-table.width-100
										.display-table-cell
											.package-title= package.name
											if package.description
												//- .package-description= package.description
											//- .package-link See example
											.package-quantity.margin-bottom-4 1 of 3 left
										if package.status !== 0
											.display-table-cell.text-right
												.package-price= "£"+ package.price

									.progress-bar
										.progress-bar-status


		.section.no-border.no-padding-bottom(id="next")
			.section.panel.no-border
				.text-center
					h2.section-heading.text-center.margin-bottom-3 Next steps

					.margin-bottom-5
						p.section-subheading Sponsorship slots are limited and available on a first-come, first-served basis. Schedule a call to discuss your goals with Mathilde.

					a.button.button-large.button-primary.margin-bottom-3(href="https://calendly.com/jam-sponsorship" target="_blank") Let's have a chat!


	footer.footer
		.footer-powered-by Powered by
		
		a.footer-logo(href="https://airfinity.com")
			+icon({"name": "airfinity-full"})
		
		.label beta

		.footer-copyright © Airfinity Ltd. 2018





